<div class="navbar navbar-expand-sm navbar-light navbar-category">
  <div class="container-fluid">
    <%= link_to "Homemaker Grandparents", grandparents_path, class: "btn btn-outline-secondary mx-1 rounded-pill align-items-center" %>
    <%= link_to "Empathetic Grandparents", grandparents_path, class: "btn btn-outline-secondary mx-1 rounded-pill align-items-center" %>
    <%= link_to "Unconditional-love Grandparents", grandparents_path, class: "btn btn-outline-secondary mx-1 rounded-pill align-items-center" %>
    <%= link_to "Detached Grandparents", grandparents_path, class: "btn btn-outline-secondary mx-1 rounded-pill" %>
    <%= link_to "Tea Drinking Grandparents", grandparents_path, class: "btn btn-outline-secondary mx-1 rounded-pill" %>
  </div>
</div>
