<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "grandmother.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.unchecked_notifications.count == 0 %>
              <li class="nav-item dropdown">
                <%= image_tag "https://i.imgur.com/XwKfN1I.png", class: "avatar dropdown-toggle", id: "navbardropdowngp", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': true %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "0 Notifications", notifications_path, class: "dropdown-item" %>
                </div>
              </li>
            <% elsif current_user.unchecked_notifications.count == 1  %>
              <li class="nav-item dropdown">
                <%= image_tag "https://i.imgur.com/zEBX1U4.png", class: "avatar dropdown-toggle", id: "navbardropdowngp", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': true %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "#{current_user.unchecked_notifications.count} Notification", notifications_path, class: "dropdown-item" %>
                </div>
              </li>
            <% else current_user.unchecked_notifications.count > 1  %>
              <li class="nav-item dropdown">
                <%= image_tag "https://i.imgur.com/zEBX1U4.png", class: "avatar dropdown-toggle", id: "navbardropdowngp", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': true %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "#{current_user.unchecked_notifications.count} Notifications", notifications_path, class: "dropdown-item" %>
                </div>
              </li>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "Grandparents", grandparents_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", user_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': true %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <b class="dropdown-item">User: <%= current_user.first_name %></b>
              <%= link_to "Add Grandparent", new_grandparent_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item" type="button">
            <%= link_to "Become a Grandparent", new_grandparent_path, class: "nav-link" %>
          </li>

          <li class="nav-item" type="button">
            <%= link_to "FAQ", "#", class: "nav-link" %>
          </li>

          <li class="nav-item" type="button">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
