<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1 class="mx-auto my-3" style="text-align: center;">Edit Profile</h1>
        <%= simple_form_for @grandparent do |f| %>
          <%= f.input :name %>
          <%= f.input :description, label: 'About Me' %>
          <%= f.input :interest, label: 'Interests' %>
          <%= f.input :location %>
          <%= f.input :image, label: 'Link to Profile Image' %>
          <%= f.submit "Submit Changes", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
