<%= render 'shared/categorytab'%>
<div class="container">
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="container my-4 d-flex">
  <div class="row w-100">
    <div class="col-md-12 d-flex flex-column justify-content-between align-items-center">
      <div class="container-fluid d-flex justify-content-center flex-wrap w-100">
        <% @grandparents.each do |grandparent| %>
          <div class="card-trip m-3 d-flex flex-column justify-content-start rounded">
            <img src=<%= grandparent.image %> />
            <div class="card-trip-infos">
              <div>
                <h2><%= grandparent.name %></h2>
                <p style="font-size: 16px;">Quote: <%= grandparent.description %></p>
                <p style="font-size: 16px;">Interests: <%= grandparent.interest %></p>
              </div>
            </div>
            <div class="container d-flex justify-content-between align-items-center mb-3">
              <h2><i class="fa-solid fa-map-location-dot"></i> - <%= grandparent.location %></h2>
              <%= link_to "Details", grandparent_path(grandparent), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
