<div class="container my-3 shadow decor">
  <div class="row d-flex justify-content-between">
    <div class="col-6 justify-content-start rounded-large" style="background-image: url(<%= @grandparent.image%>); background-size: auto; background-repeat: no-repeat; background-position: center;">
    </div>

    <div class="col-6 grandparent_details">
        <h1 style="text-align: center;" class="w-100" id="name-title"><%= @grandparent.name %>'s Profile</h1>
          <h2>About Me</h2>
          <p><%= @grandparent.description %></p>
          <h2>Interests</h2>
          <p><%= @grandparent.interest %></p>
          <h2>Location</h2>
          <p><%= @grandparent.location.capitalize %></p>

        <div class="availability-placement border border-primary d-flex justify-content-end">
            <h2 style="title-head mb-3 d-flex justify-content-end">Availability</h2>
            <div class="mb-3 d-flex justify-content-top">
          <div class="mx-2">
            <h4 class="m-0">M</h4>
            <%= @grandparent.monday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">T</h4>
            <%= @grandparent.tuesday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">W</h4>
            <%= @grandparent.wednesday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">T</h4>
            <%= @grandparent.thursday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">F</h4>
            <%= @grandparent.friday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">S</h4>
            <%= @grandparent.saturday ? '✅' : '❌' %>
          </div>
          <div class="mx-2">
            <h4 class="m-0">S</h4>
            <%= @grandparent.sunday ? '✅' : '❌' %>
          </div>
        </div>

        </div>
        <% unless policy(@grandparent).edit? %>
          <%= link_to "Book", new_grandparent_booking_path(@grandparent), class: "btn btn-outline-success mb-3 button_1" %>
          <% end %>
        <div>
          <% if policy(@grandparent).edit? %>
            <%= link_to "Edit Profile", edit_grandparent_path(@grandparent), class: "btn btn-outline-primary button_2" %>
          <% end %>
          <% if policy(@grandparent).destroy? %>
            <%= link_to "Delete Profile", grandparent_path(@grandparent), method: :delete, class: "btn-outline-danger button_3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
