<div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-6">
        <h1 style="text-align: center;" class="mb-3"><%= @grandparent.name %>'s Profile</h1>
        <img src=<%= @grandparent.image %> style="width: 100%" alt="Profile image">
      </div>
      <div class="col-6">
        <h2>About Me</h2>
        <p><%= @grandparent.description %></p>
        <h2>Interests</h2>
        <p><%= @grandparent.interest %></p>
        <h2>Location</h2>
        <p><%= @grandparent.location.capitalize %></p>
        <%= link_to "Book", new_grandparent_booking_path(@grandparent), class: "btn btn-primary" %>
        <%= link_to "Edit Profile", edit_grandparent_path(@grandparent), class: "btn btn-primary" %>
      </div>
    </div>
</div>
