<div class="container" style="border: 2px solid red; height: 70vh; margin-top: 24px;">
  <div class="card-product" style="border-radius: 15px;">
    <img src="https://i.imgur.com/G6DUIaj.png" style="object-fit: cover;" />
    <div class="card-product-infos pt-22">
    <br>
        <h2>New Booking: THIS IS THE BOOKING TITLE ALONG WITH THE GRANDPARENT</h2>
        <p>THIS IS THE BOOKING DESCRIPTION OF WHAT'LL TAKE PLACE</p>
        <p>HERE IS THE DATE OF THE BOOKING</p>
    </div>
    <%= link_to "View Booking", user_root_path, class:"btn btn-outline-primary p-100 d-flex justify-content flex-end" %>
  </div>
</div>




























<div class="container">
  <h1>Pages#dashboard</h1>
  <div class="container mt-4 d-flex">
    <div class="row w-100">
      <h1>My Profiles</h1>
      <div class="col-md-12 d-flex flex-column justify-content-between align-items-center">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
          <% @grandparents.each do |grandparent| %>
            <% if grandparent.user == current_user %>
              <div class="card-trip m-3 d-flex flex-column justify-content-start">
                <img src=<%= grandparent.image %> />
                <div class="card-trip-infos">
                  <div>
                    <h2><%= grandparent.name %></h2>
                    <p style="font-size: 16px;">Quote: <%= grandparent.description %></p>
                    <p style="font-size: 16px;">Interests: <%= grandparent.interest %></p>
                  </div>
                </div>
                <div class="container d-flex justify-content-between align-items-center mb-3">
                  <h2><i class="fa-solid fa-map-location-dot"></i> - <%= grandparent.location %></h2>
                  <%= link_to "Details", grandparent_path(grandparent), class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
  <div class="container mt-4 d-flex">
    <div class="row w-100">
      <h1>My Bookings</h1>
      <div class="col-md-12 d-flex flex-column justify-content-between align-items-center">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
          <% @bookings.each do |booking| %>
            <div class="card-trip m-3 d-flex flex-column justify-content-start">
              <img src=<%= booking.grandparent.image %> />
              <div class="card-trip-infos">
                <div>
                  <h2><strong><%= booking.title %></strong></h2> <br>
                  <p><strong>Booking Date: </strong><%= booking.date.to_s[0..-8]%></p> <br>
                  <p><strong>Booking Description: </strong><%= booking.description %></p>
                </div>
              </div>
              <div class="container d-flex justify-content-between align-items-center mb-3">
                <p></p>
              </div>
            </div>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
