<div class="container-fluid home-page" style="padding: 0;">
  <div class="banner">
    <div class="container">
      <div class="row p-3">
        <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
          <h1 style="font-size: 72px;">Hire A Grandparent</h1>
          <h4>Creating wholesome and unique experiences with your own new grandparent</h4>
          <%= link_to "Search Grandparents", grandparents_path, class:"btn btn-cta btn-outline-primary w-50" %>
        </div>
        <div class="col-sm-6">
          <%= image_tag "CookingGal.png" %>
        </div>
      </div>
    </div>
    <br>
    <div class="container mb-4 pb-5 shadow" style="background-color: white; border-radius: 12px;">
      <h1 class="text-center w-100">Interesting Articles</h1>
      <div class="cards-wrapper d-flex justify-content-around">
        <div class="card-blog p-3 m-3 shadow d-flex flex-column justify-content-between">
          <div class="card-blog-img mb-2">
            <%= image_tag "grandparent-blog1.jpg", class: "rounded-3 mb-3" %>
          </div>
          <div class="card-blog-info">
            <h3>Ageing and Health</h3>
            <p>Practical and easy tips to help keep you feeling fresh and healthy.</p>
            <%= link_to "Read More", '#', class: "btn btn-primary" %>
          </div>
        </div>
        <div class="card-blog p-3 m-3 shadow d-flex flex-column justify-content-between">
          <div class="card-blog-img mb-2">
            <%= image_tag "grandparent-blog2.jpg", class: "rounded-3 mb-3" %>
          </div>
          <div class="card-blog-info">
            <h3>Healthy Body & Mind</h3>
            <p>Take control of your mental and physical health to be fitter than your friends.</p>
            <%= link_to "Read More", '#', class: "btn btn-primary" %>
          </div>
        </div>
        <div class="card-blog p-3 m-3 shadow d-flex flex-column justify-content-between">
          <div class="card-blog-img mb-2">
            <%= image_tag "grandparent-blog3.jpg", class: "rounded-3 mb-3" %>
          </div>
          <div class="card-blog-info">
            <h3>When are you "Old"</h3>
            <p>That dreaded laberl. What does it mean, when does it apply, if ever at all?</p>
            <%= link_to "Read More", '#', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <p> <small>🎧 Brought to you by the BiteJockey team 🎧</small></p>
  </div>
</div>
